.shop-header {
	color: #AB0743;
	font-size: 24px;
	text-decoration: underline;
	text-align: center;
}

.cart-item {
	height: 200px;
	width: 100%;
	margin-bottom: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	line-height: 145px;
	font-size: 21px;
		color: #AB0743;
}

	.cart-image {
		height: 200px;
		border: black solid 2px;
	}

.remove {
	cursor: pointer;
}


.total {
	float: right;
}