.home-image-1 {
	width: 340px;
	margin-bottom: 40px;
	float: left;
	border: solid 2px black;
}

.home-paragraph-1 {
	letter-spacing: 1px;
	color: #672D4F;
	width: 400px;
	float: right;
	font-size: 23px;
	line-height: 28px;
	text-align: justify;
	font-weight: bold;
}

.home-button {
	width: 200px;
	float: right;
	font-size: 23px;
	margin-right: 105px;
	background-color: #901234;
	border: none;
	border-radius: 20px;
}

	.home-button a {
		color: white;
	}

.home-image-2 {
	width: 340px;
	margin-bottom: 20px;
	float: right;
	clear: both;
	border: solid 2px black;
}

.home-paragraph-2 {
	letter-spacing: 1px;
	color: #672D4F;
	width: 400px;
	float: left;
	font-size: 22px;
	line-height: 28px;
	text-align: justify;
	font-weight: bold;
}