<link rel="stylesheet" href="css/gallery-views.css">

<div class="image-title">
	<p>ChirAren</p>
</div>

<div class="image-canvas">
	<img ui-sref="gallery" src="http://orig12.deviantart.net/0812/f/2016/018/0/4/image__8__by_nithak-d9ogznx.jpg">
</div>

<p class="description">ChirAren is one of my dragons from Flight Rising.
<br>
<br>
He is part of the remnants of a Clan known as the Brotherhood of FrostBite, which was a fairly group of ruthless outlaws. Things got out of hand and the clan nearly completely died out, and they began to turn on each other. ChirAren and a few others decided enough was enough and they left and ended up joining another clan for survival's sake. 
<br>
<br>
ChirAren is a kleptomaniac, and nothing is safe from his sticky claws. He's super cheeky about it too because he knows he's REALLY GOOD at stealing things. But hey, he's cute enough to get away with it... Right?
<br>
<br>
Done with markers and colored pencil on toned paper.</p>

<div class="page-divider"></div>