<link rel="stylesheet" href="css/gallery-views.css">

<div class="image-title">
	<p>Daughter of the Stars</p>
</div>


<div class="image-canvas">
	<img ui-sref="gallery" src="http://pre00.deviantart.net/3425/th/pre/f/2016/094/a/5/image__31__by_nithak-d9xqry1.jpg">
</div>
<p class="description">
This is a giginka of my new Imperial baby on Flight Rising, Astra.
<br>
<br>
I wanted her to have a childish look about her while still being womanly and graceful. This also was HIGHLY experimental as I was trying to figure out how to use matte medium.
<br>
<br>
The process is awesome, I used a bit of everything to pull this off. The layers are as follows:<br>
1. Watercolor base in yellow ochre and thalo blue.<br>
2. Colored pencil over that, filling in most of the colors. <br>
3. Copic marker to blend, primarily greys, purples, a light blue, and a skin tone.<br>
4. Acrylic paint- white, yellow, blue, and red. The acrylics were mixed and thinned with matte medium, the background was added except directly around the girl. Applied with fingers.<br>
5. Gold acrylic ink to add the jewelery and brighten the golds, as well as added as stars in the back. <br>
6. Chalk pastel used directly around the girl in a turquoise color, then blended with a darker blue pastel.<br>
7. Added another layer of matte medium with fingers to seal the chalk pastel in place and blend it.<br>
8. White colored pencil for highlights.<br>
9. White gel pen for stars and highlights. <br>
10. Added gold swirls in gold acrylic ink in the background.<br>
11. Blue and black shading added with colored pencil to blend the background and help her stand out more. White colored pencil used to accent the swirls.<br>
13. More chalk pastel used, dark blue and black. <br>
14. Finally, glitter glue was applied with fingers- gold, turquoise, and silver.<br>
15. Mounted on scrapbook paper that then was darkened digitally.<br>
<br>
<br>
Done on bristol paper with ALL THE THINGS
</p>
<div class="page-divider"></div>