<link rel="stylesheet" href="css/gallery-views.css">
<div class="image-title">
	<p>Daughter of the Violets</p>
</div>
<div class="image-canvas">
	<img ui-sref="gallery" src="http://orig06.deviantart.net/fec3/f/2016/123/1/c/image__53__by_nithak-da16jmz.jpg">
</div>
<p class="description">I've been working with concepts for her for a little while, but I was writing an essay on Art nouveau and the Golden Age of Illustration and really wanted to do an Art Nouveau piece based on Alphonse Mucha's style. It took a LOT of work, especially since my larger nib pens stopped working. I did this all with a 0.3 brown copic multiliner and smaller, and it took me a few days to finish up. Plus I had to press harder because this is all done on illustration board which is THICK, THICK stuff. </p>
<div class="page-divider"></div>