<link rel="stylesheet" href="css/gallery-views.css">

<div class="image-title">
	<p>Diehu</p>
</div>


<div class="image-canvas">
	<img ui-sref="gallery" src="http://orig06.deviantart.net/8a89/f/2016/046/8/0/image__27__by_nithak-d9rxe1w.jpg">
</div>

<p class="description">Another giginka for Flight Rising. :U This time it's my beautiful Butterfly Imperial.
<br>
<br>
Her story is that she grew up very kindhearted, and that was constantly taken advantage of by the trickster dragons of the shadow flight. After enough manipulation and feeling completely drained, she decided enough was enough and just left to find a place where her service would not only be appreciated, but reciprocated.
<br>
<br>
Done with copic marker and some colored pencil.</p>

<div class="page-divider"></div>