<link rel="stylesheet" href="css/gallery-views.css">

<div class="image-title">
	<p>Lady in an Art Gallery</p>
</div>


<div class="image-canvas">
	<img ui-sref="gallery" src="http://orig10.deviantart.net/889c/f/2016/129/2/d/watermarkedd_by_nithak-da1y4ev.jpg">
</div>
<p class="description">A gift for Mother's Day... Mom has a steampunk-themed room, and she's also thinking of decorating her classroom steampunk as well.
<br>
<br>
Done with watercolor paper, watercolors, colored pencil, scrapbook paper, acrylics and stencils. 
</p>
<div class="page-divider"></div>