<link rel="stylesheet" href="css/gallery-views.css">

<div class="image-title">
	<p>Little Red Copperhead</p>
</div>


<div class="image-canvas">
	<img ui-sref="gallery" src="http://orig00.deviantart.net/ede2/f/2016/011/f/7/image_by_nithak-d9nng95.jpg">
</div>

<p class="description">
This character has been brewing in my head for... Actually a little while. I just loved the idea of a rough-around-the edges Red Riding hood facing off against a classy werewolf king and winning. Her taking control of the pack... Well, that idea came recently, along with the finalized design. I'm very happy with her C:
<br>
<br>
Done on midtone paper with colored pencils and prismacolor marker
</p>

<div class="page-divider"></div>