<link rel="stylesheet" href="css/gallery-views.css">

<div class="image-title">
	<p>Rain Belikov</p>
</div>


<div class="image-canvas">
	<img ui-sref="gallery" src="http://orig02.deviantart.net/d5f7/f/2016/007/d/3/image__18__by_nithak-d9n36vn.jpg">
</div>

<p class="description">Rain is simply a phoenix woman who is married to a demon weapons dealer, trying to live a normal life... Or as normal as you can when your husband is dealing with other demons.
<br>
<br>
Done with copic marker and prismacolor pencil, mounted on scrapbook and cardstock paper</p>

<div class="page-divider"></div>