<link rel="stylesheet" href="css/gallery-views.css">

<div class="image-title">
	<p>Showtime</p>
</div>


<div class="image-canvas">
	<img ui-sref="gallery" src="http://orig03.deviantart.net/2a4b/f/2016/139/a/3/image__8__by_nithak-da32988.jpg">
</div>
<p class="description">An experiment with different coloring techniques, this time with an OC I have yet to introduce.
Elsie, the monkey trainer and her golden monkey, Wezen. These characters will be featured in an upcoming webcomic I am cowriting with</p>
<div class="page-divider"></div>