<link rel="stylesheet" href="css/gallery-views.css">

<div class="image-title">
	<p>Siwang</p>
</div>


<div class="image-canvas">
	<img ui-sref="gallery" src="http://orig11.deviantart.net/2e44/f/2016/091/6/f/watermarked_by_nithak-d9xdst5.jpg">
</div>

<p class="description">My good old buddy chum pal did a fantastic sketch of my dragon Siwang as a human, and then I got in another Flight Rising kick. Taking from her design I decided to revamp her and draw her out as a human as well as a dragon.
<br>
<br>
Done with marker and colored pencil on toned paper.
</p>

<div class="page-divider"></div>