<link rel="stylesheet" href="css/gallery-views.css">

<div class="image-title">
	<p>Star Guardian Ulario</p>
</div>


<div class="image-canvas">
	<img ui-sref="gallery" src="http://pre07.deviantart.net/ea76/th/pre/f/2016/111/6/6/lion_by_nithak-d9zru5f.jpg">
</div>

<p class="description">
I... Put in a LOT of effort for this one, but I wanted to try something new. A friend had this scrapbook paper that was all stars themed and I've been having a hankering to get my grubby fingers on it and use it for something. Also, I was able to pick up a lot of scrap mat board at a local framing place and was anxious to use that too. So I drew up the lion on bristol, colored it with colored pencil and copic marker, cut it out, glued it to the scrapbook paper (which I added acrylics and glitter glue to) and then painted the mat board with blue and white blurry clouds and spattered it with stars and glitter glue. Then I glued it all together!!
<br>
<br>
Anyways, I hope you enjoy!</p>

<div class="page-divider"></div>