<link rel="stylesheet" href="css/gallery-views.css">

<div class="image-title">
	<p>The Mercenary of the Four Kingdoms</p>
</div>


<div class="image-canvas">
	<img ui-sref="gallery" src="http://orig14.deviantart.net/453b/f/2016/068/a/a/untitled_by_nithak-d9uhcvf.jpg">
</div>

<p class="description">The mercenary- infamous across every kingdom due to the skill and precision he uses when he takes on and finishes his contracts. He is a master swordsman and speaks with a noble's tongue- yet treats everyone as old friends. Strangely, very few have seen his face- he often wears a bird-shaped mask, a cowl, a hood. But they say when he laughs, he caws like a crow.
<br>
<br>
He goes by the name Dynell. And the creatures of the enchanted forest know he is a Tengu-- a creature from a distant continent. There is no creature like him in this continent. They say... He ran from something. With skills like his, it's hard to imagine what.
<br>
<br>
Done with copic markers and colored pencils
</p>

<div class="page-divider"></div>