<link rel="stylesheet" href="css/gallery-views.css">

<div class="image-title">
	<p>The Vigilante</p>
</div>


<div class="image-canvas">
	<img ui-sref="gallery" src="http://orig06.deviantart.net/fd84/f/2016/083/5/1/the_vigilante_by_nithak-d9wad22.jpg">
</div>

<p class="description">I have the intention of doing one or two more in this set with my modern-ish horror/sci fi characters.
<br>
<br>
Emily, also known as Little Red Copperhead has found herself as the leader of a werewolf pack despite not being a wolf herself. She uses them to hunt down the baddies of Mississippi, and later New York.  Unfortunately, the public isn't fond of finding wolf maulings around, no matter if it's the scum of the city who's been mauled.</p>

<div class="page-divider"></div>