<link rel="stylesheet" href="css/gallery-views.css">

<div class="image-title">
	<p>The Time Traveler's Chaos</p>
</div>


<div class="image-canvas">
	<img ui-sref="gallery" src="http://orig09.deviantart.net/3e05/f/2016/066/7/8/image_by_nithak_d9ucdm3_by_nithak-d9ucecw.jpg">
</div>

<p class="description">Once again a picture of Iris and Ace.
<br>
<br>
Recently I've been roleplaying with these two trapped in a Victorian era... Full of monsters, disease, and fun! : D I just really wanted to figure out what Iris would be wearing, and I got a little carried away. 
<br>
<br>
I might end up doing more with the background. Haven't decided yet. But until theeeen, I'm pretty happy with the results!
<br>
<br>
Done in PROcreate</p>

<div class="page-divider"></div>