	<div class="about-image-container">
        <img class="about-image-1" src="images/headshot.jpg">
	</div>
	<div class="about-paragraph-1">
		<p>Rowan Barnson is a multimedia artist who has been drawing since she was old enough to hold a pencil (Which mostly included drawing on the walls, but drawing is drawing!) She has been studying Illustration and Art Education in College, as well as doing a lot of studying and drawing on her own time.
		</p>

		<p>She has grown up nurturing her own imagination, whether it's by the stories her mother told and the games she played, and ever since cannot stop creating her own stories. She desires to share these stories with others, teach others how to create, and to especially inspire the rising generation of young artists.
		</p>
	</div>
