<footer>
    <div class="page-divider"></div>
    <p>Copyright 2016 Rowan Barnson</p>
        <nav class="footer-navigation">
            <a href="https://www.facebook.com/Rowansart/?fref=ts">
                <img class="navigation-images" src="images/facebook-link.png">
            </a>

            <a href="http://piratecreate.tumblr.com/">
                <img class="navigation-images" src="images/tumblr-link.png">
            </a>

            <a ng-href="{{mailLink}}">
                <img class="navigation-images" src="images/email-link.png">
            </a>

        </nav>
</footer>