	<div>
        <img class="home-image-1" src="http://pre00.deviantart.net/3425/th/pre/f/2016/094/a/5/image__31__by_nithak-d9xqry1.jpg">
	</div>
	<div class="paragraph-container-1">
	<p class="home-paragraph-1">Here you will find the art of Rowan Barnson, a young artist who has been drawing since she was very little and has continued to draw ever since as you could probably imagine. Rowan has art of varying medias, from standard sketching with a pencil to digital.</p>
	<p class="home-paragraph-1">if there are anything you would like to ask her click this button here.</p>
	<button class="home-button" ng-href="{{mailLink}}"><a ng-href="{{mailLink}}">Email</a></button>
	</div>
	<div>
            <img class="home-image-2" src="http://orig10.deviantart.net/889c/f/2016/129/2/d/watermarkedd_by_nithak-da1y4ev.jpg">
	</div>
	<div class="paragraph-conatainer-2">
	<p class="home-paragraph-2">Her process is unique for every piece. It begins with an idea, a sketch, and then the sketch takes on a life of its own. It speaks for itself, and practically chooses what media will be put next. Because of this, she has learned to use one material in a thousand different ways through experimentation... And still discovers more! 
		<br>
		<br>
	She also teaches art classes and workshops. Feel free to inquire about these events and the pricing of her classes.​</p>

	</div>